# Ignore everything
*

# Allow specific files and folders
!.gitignore
!.gitattributes
!README.md
!LICENSE.txt
!tau-logo
!tau-logo/LICENSE.md
!tau-logo/README.md
!tau-logo/tau-logo.pdf
!main.tex
!preamble.tex
!meta.tex
!trollface.tex

# Allow files with certain suffixes in certain folders.

!sections/
!sections/*.tex

!*.bib
