# Ignore everything
*

# Allow specific files and folders
!.gitignore
!README.md
!LICENSE.txt
!tau-logo
!tau-logo/LICENSE.md
!tau-logo/README.md
!tau-logo/tau-logo.pdf

# Allow files with certain suffixes
!*.tex
!*.bib
